/*#productreviewswriteBody #navBreadCrumb {
	border-bottom: none;
	margin-bottom: 0;
}*/

.review {
	overflow: hidden;
}

	.review .header {
		/*border-bottom: 1px solid #E9E9E9;*/
		margin-bottom: 30px;
	}

	.review .col {
		overflow: hidden;
		font-size: 14px;
		padding-top: 0;
	}

	.review .header + .col {
		float: left;
		width: 70%;
		margin-right: 3.064%;

		background: #f2f2f2;
		border: 1px solid #E9E9E9;
		padding: 21px;
		margin-top: -1px;
		
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
	}

	
	.review .second {
		line-height: 18px
	}

		.review .second a {
			color: #3b859e;
		}
		
		.review .second a:hover {
			color: #174d5f
		}

		.review .second h3 {
			font-weight: bold;
			margin-bottom: 15px;
			margin-top: 21px;
		}

		.review .second h3:first-child {
			margin-top: 0;
		}

		.review .col {
			margin-top: 5px
		}

		.review .col .styled li {
			line-height: 21px;
			margin-top: 9px;
			padding-left: 15px;
			position: relative;
		}

		.review .col .styled li:before {
			content: "";
			background: #333;
			height: 5px;
			width: 5px;
			border-radius: 5px;
			position: absolute;
			left: 0;
			top: 8px;
		}

		.review .col .styled li:first-child {
			margin-top: 0
		}

		.review .col .styled + p {
			margin-top: 21px
		}
	
	/* image */
	#productMainImage {
		display: none;
	}

	#productMainImage2 {
		display: none;
		margin-bottom: 24px;
		max-width: 240px;
		width: 100%;
		position: relative;
	}

		#productMainImage2 a {
			background: #fff;
			border: 1px solid #e2e3df;
			display: table-cell;
			vertical-align: middle;
			text-align: center;
			position: relative;
			height: 232px;
			padding: 21px;
			width: 100%;

			-webkit-box-sizing: border-box;
			   -moz-box-sizing: border-box;
			        box-sizing: border-box;
		}

		#productMainImage2 a img {
			height: auto;
			max-height: 188px;
			width: auto;
			max-width: 188px;

		}

		#productMainImage2 a:hover {
			border-color: #CAF200;
		}

	/* links */
	.links {
		/*border-top: 1px solid #e2e3df;
		padding: 21px 0 0 0;*/
	}

		.links a {
			color: #3b859e;
			font-size: 14px;
			display: block;
		}

		.links a + a {
			margin-top: 8px
		}

		.links a:hover {
			color: #174d5f
		}

	/* product info */

		/* title */
		h1#reviewsWriteHeading {
			border: none;
			color: #2E3233;
			font-size: 20px;
			margin: 0 0 20px;
			padding: 0;
			text-transform: none;
		}

		h1#reviewsWriteHeading span {
			font-size: 16px;
		}
		
		/* prices */
		h2#reviewsWritePrice {
			color: #2e3233;
			font-size: 18px;
			font-weight: bold;
		}
			
			h2#reviewsWritePrice br {
				display: none;
			}

			h2#reviewsWritePrice span {
				color: #515b5e;
				display: inline-block;
				font-size: 18px;
				font-weight: normal;
				margin: 0 0 0 11px;
			}

			h2#reviewsWritePrice span:first-child {
				margin-left: 0;
			}

			h2#reviewsWritePrice .normalprice {
				color: #515b5e;
				text-decoration: line-through;
			}

			h2#reviewsWritePrice .productSpecialPrice,
			h2#reviewsWritePrice .productSpecialPriceSale {
				color: #3b859e;
				font-size: 18px;
				font-weight: bold;
			}

			h2#reviewsWritePrice .productPriceDiscount {
				font-size: 12px
			}

				h2#reviewsWritePrice span span {
					color: #585d50;
					display: inline-block;
					font-size: 12px;
					margin-bottom: 0;
					padding-right: 16px;
					text-align: right;
					width: 60px
				}

				h2#reviewsWritePrice .norm span {
					padding-right: 15px
				}

	#reviewsWriteReviewer {
		font-size: 14px;
		margin: 21px 0;
	}

		#reviewsWriteReviewer span {
			font-weight: bold;
		}

	/* review */
	/*.form-review {
		background: #f2f2f2;
		border: 1px solid #E9E9E9;
		padding: 21px;
	}*/

		.form-review .form-field {
			display: block;
			margin-bottom: 18px
		}

		.form-review .form-field + .form-field {
			margin-top: 21px
		}

		.form-review .form-field > label {
			color: #2e3233;
			font-size: 14px;
			margin: 0 0 9px;
			display: block;
			line-height: 18px;
		}

		.ratingRow {
			overflow: hidden;
		}

			.ratingRow li {
				float: left;
				margin-left: 10px;
			}

			.ratingRow li:first-child {
				margin-left: 0;
			}

		/* textarea */
		.form-review input[type="radio"] {
			margin: 0 2px 0 1px;
			position: relative;
			top: 0px;
		}

		.form-review input[type="radio"] + label {
			position: relative;
			top: 2px;
		}

		.form-review textarea {
			border: 1px solid #aab5b9;
			line-height: 18px;
			padding: 6px;
			height: 140px;
			width: 100%;

			-webkit-box-sizing: border-box;
			   -moz-box-sizing: border-box;
			        box-sizing: border-box;
		}

		.form-review textarea:focus {
			border-color: #3b859e;
		}

		.form-review textarea::-webkit-input-placeholder {
		   	color: #272522;
		   	opacity: 1;
		}

		.form-review textarea::-moz-placeholder {  /* Firefox 19+ */
		   	color: #272522;
		   	opacity: 1;
		}

		.form-review textarea:-ms-input-placeholder {  
		   	opacity: 1;
		}

		.form-review textarea:focus::-webkit-input-placeholder {
		   	opacity: 0.5;
		}

		.form-review textarea:focus::-moz-placeholder {  /* Firefox 19+ */
		   	opacity: 0.5;
		}

		.form-review textarea:focus:-ms-input-placeholder {
		   	opacity: 0.5;
		}
		
		/* button */
		.form-review input[type="submit"] {
			background: #3b859e; 
	        color: #FFF; 
	        border: 0;
	        text-transform: uppercase;
	        border: 1px solid #3b859e;
	        width: auto !important;
	        padding: 8px 15px 8px 13px;
	        margin: 0;
	        font-size: 14px;
	        font-weight: bold;
		}

		@-moz-document url-prefix() {
			.form-review input[type="submit"] {
				padding: 7px 11px 7px 10px;
			}
		}

		.form-review input[type="submit"]:hover,
		.form-review input[type="submit"]:focus {
			background: #174d5f;
			color: #fff;
			cursor: pointer;
		}

		/* notice */
		#reviewsWriteReviewsNotice {
			font-size: 12px;
			color: #E02828;
			line-height: 18px;
			margin-top: 21px
		}

/* fixing button newsletter in the footer */
#newsletter-wrapper input[type="text"] {
	margin-bottom: 10px
}

#newsletter-wrapper button[type="submit"] {
	top: auto;
	bottom: 30px;
}

@media screen and (max-width: 768px) {
	.review > .col,
	.review .header + .col {
		float: none;
		margin: 0 auto;
		max-width: none;
		width: auto;
	}

	.review .header + .col {
		margin-bottom: 24px
	}

	#productMainImage2 {
		margin-left: auto;
		margin-right: auto;
	}
}

@media screen and (max-width: 510px) {
	.ratingRow li {
		float: none;
		margin-left: 0;
	}

	.ratingRow li:first-child {
		margin-top: 0
	}

	.links a + a {
		margin-top: 14px
	}
}








